*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Epilogue";
    color: hsl(0, 0%, 8%);
}
body{
    min-height: 100vh;
    font-size: 18px;
    font-weight: 500;
}
img{
    max-width: 100%;
}

header{
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.openNav{
    border: none;
    background-color: #ffffff00;
    cursor: pointer;
}
section{
    padding: 1em;
    text-align: center;
}
h1{
    font-size: 1.654em;
    margin: 18px 0;
}
section> p{
    font-size: .9em;
    line-height: 25px;
    color: hsl(0, 0%, 41%);
    margin: 1em 0;
}
section> button{
    padding: 1em 2em;
    background-color: hsl(0, 0%, 8%);
    border: none;
    border-radius: 15px;
    color: hsl(0, 0%, 98%);

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

footer{
    padding: 1em 1em 3em;
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

/* nav when opened */

nav.opened{
    display: inline;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }